/*

Darko Bunic
http://www.redips.net/
Nov, 2010.

*/

body{
	font-family: arial;
	margin: 0px; /* for IE6 / IE7 */
}

/* make drag container visible */
#drag{
	border: 0px dashed LightBlue;
	display: table;
	width: 100%;
	margin: 5px;
	padding-left: 5px;
}

/* table */
div#drag table {
	border-collapse: collapse;
}

/* table cells */
div#drag td{
	border: 1px solid white;
	height: 50px;
	text-align: center;
	font-size: 10pt;
	padding: 2px;
}

/* drag object (DIV inside table cell) */
.drag{
	margin: auto;
	text-align: center;
	width: 175px;
	border: 2px solid SteelBlue;

}

#table1 {
	float:left;
	top: 20px;
	padding-right: 20px;
	margin-right: 20px;
}

#table2 {
	float:left;
	top: 20px;
	padding-left: 20px;
	margin-left: 20px;
}
/* fixed table container */
#fixed_container{
	position: fixed;
top: 100px;
	width: 200px;
	right:10px;
	max-height: 400px;
	/* make it visible */
	border: 2px solid SlateGray;
overflow: auto;


}
	#fixed_container table{
		margin: 0px auto;
		background-color: #eee;
	}

.dissappear {

		display: none;
	}

#table2 > tbody > tr > td > div.drag {
	width: auto;
}
#table1 > tbody > tr > td > div.drag {
    width: auto;
}

div {
    word-wrap: break-word;
}

#table7 > tbody > tr > td:empty {
    display: none;
}

#rolex {
	z-index: 5;
	width: 100%;
	height: 90%;
	background-color: black;
	position: absolute;
	text-align: center;
	padding:20px;
overflow-y: hidden;
display: none;
}